{% extends "base_sistema.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
<style type="text/css">
    #centro{
        padding: 2em;
        border: 1px solid #00BCD4;
        border-radius:4px;
        width:50%;
        margin:0 auto;
    }
    #password{
        text-align: center;
    }
</style>
{% endblock extrahead %}
{% block content %}
<div class="card-header bgm-cyan ch-alt">
    <h2 id='password'>Cambiar la contraseña del usuario {{request.user.username}}</h2>
</div>
<div class="card-body card-padding">
    <form enctype="multipart/form-data" method="post">{% csrf_token %}     
        <div id="centro">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input id="id_old_password" name="old_password" type="password" class="form-control input-sm"/>
                    <label class="fg-label">Antigua Contraseña</label>
                </div>
            </div> 
            <br/>
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input id="id_new_password1" name="new_password1" type="password" class="form-control input-sm"/>
                    <label class="fg-label">Nueva Contraseña</label>
                </div>
            </div>
            <br/>
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input id="id_new_password2" name="new_password2" type="password" class="form-control input-sm"/>
                    <label class="fg-label">Confirmar Nueva Contraseña</label>
                </div>
            </div>            
        <button type="submit" id="btn" class="btn btn-primary">Guardar <i class="zmdi zmdi-mail-send"></i></button>
        <a href="{% url 'home:inicio' %}" class="btn bgm-gray waves-effect"><i class="zmdi zmdi-arrow-left"></i> Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}
